
<div class="d-flex flex-column align-center">
    <MudText Typo="Typo.h1"><b>403</b></MudText>
    <MudText Typo="Typo.h4">Forbidden</MudText>
    <MudText Typo="Typo.body2"><i>Access to this resource on the server is denied!</i></MudText>
</div>
@code {

}
